* {
    box-sizing: border-box;
}

body {
    max-width: 36em;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    padding: 1em;
}

main {
    padding: 0 1rem 1rem;
 }
 

main p{
    margin-top: 1px;
    margin-bottom: 50px;
    font-style: italic;
    font-weight: bold;
}

main h2{
    margin-bottom: -2px;
}

header, footer {
    color: #F5F5F5;
    border-radius: 10px;
    box-shadow: 1px 1px 30px #555;
    background-color: #285f89;

}
header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

img {
    border-radius: 10px;
    box-shadow: 2px 2px 30px #555;
    width: 135px;
    height: auto;
    margin: 1em 0;
}

header h1 {
    margin: auto 50px;

}

footer {
    text-align: center;
    padding: 1rem;
    display: block;
}
#date {
    font-size: 0.8rem;
    color: gold;
    margin-top: 3px;

}

footer #lastupdated {
    color: yellow;
    font-size: 0.8rem;
 }


@media screen and (max-width: 420px) {

    header {
       display: block;
       padding: 0.5rem;
       text-align: center;
    }
    #header-image {
       margin: 0 auto;
       
    }
 } 