* {
    box-sizing: border-box;
}

body {
    max-width: 50em;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

.grid-page {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
    margin: -0.5em 0.9em 0.5em;
    border-bottom: 1px solid rgb(235, 233, 233);
}

header, footer {
    background-color: hsl(204, 97%, 12%);
    color: #F5F5F5;
}

header {
    text-align: center;
    
}

header h1 {
    text-align: center;
    display: inline-block;
    padding-top: 0.5em;
    margin-bottom: -0.5em;
    font-size: 2.5em;

}

header h2 {
    padding-bottom: 0.5em;
    font-size: 1.4em;

}

.grid-page section {
    background-color: rgb(245, 244, 244);

}

section h3 {
    font-size: 1em;
    background-color: hsl(203, 50%, 25%);
    color: #F5F5F5;
    border-radius: 15px 15px 0 0;
    padding: 0.5em ;
    margin: 0;

}

section img{
    display: block;
    border: 1px solid rgb(235, 233, 233);
    width: 100%;
    height: auto;
    margin: 1em auto ;
}

section p{
    display: block;
    font-size: 1.3em;
    margin: 0.5em 0.5em 1em 0.5em;
}

.grid-page section a {
    display: block;
    margin: 0.5em 0.5em 1em 0.5em;
    font-size: 1em;
  

}

footer section{
    font-size: 1em;
    padding: 1em;
}

 
@media only Screen and (min-width: 514px) and (max-width:740px){
    .grid-page {
        grid-template-columns: 1fr 1fr;

    }

    section:nth-child(3) {
        grid-column: span 2;
    }  
}

@media only Screen and (min-width: 740px){
    .grid-page {
        grid-template-columns: 1fr 1fr 1fr;

    }
}



