@media only screen and (min-width: 1072px) {
    
    .hamburger {
        display: none;
    }


    .hamburger-sec {
        display: none;
    }

    .nav-list{
        display: flex;
        justify-content: end;
        
    }

    #navigation {
        display: flex;
        padding: 0;
        justify-content: center;
    }
    

    .logo-nav {
        display: flex;
        justify-content: center;
        padding: 20px;
        margin-bottom: -10px;
    }


    .logo .head-text {
        align-self: end;
        flex: 1;
    }
    


    .first-section {
        background-image: url("../images/large-hero.webp");
        width: 100%;
        height: 60vh;
        display: flex;
        justify-content: start;
    }

    .reservationBtn {
        padding: 50px 80px;
    }

    .rsvBtn {
       
        margin-left: 300px ;
    
    }

    .big-sec {
        display: flex;
        justify-content: center;
    }

    .forecast {
        display: flex;
        justify-content: center;
        background-color: rgb(0,0,0,0.8);
        padding-bottom: 134px;
    }

    .card {
        display: block;
        color: white;
        padding: 1em;
        width: 30%;
        height: auto;
        max-width: 420px;
        margin: 1em;
        backdrop-filter: blur(100px);
        background-color: rgb(0,0,0,0.8);
        text-align: center;
      }
      
      .search {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      
      .weather-button {
        margin: 0.5em;
        border-radius: 50%;
        border: none;
        height: 40px;
        width: 40px;
        outline: none;
        background: white;
        padding: 10px;
      }
      
      .weather-button:hover {
        background: #7c7c7c6b;
        cursor: pointer;
        transition: 0.2s ease-in-out;
      }
      
      input.search-bar {
        border: none;
        outline: none;
        border-radius: 20px;
        padding: 0.8em 1em;
        background: white;
        color: black;
        font-size: 1em;
        width: 60%;
      }
      
      h1.temp {
        font-size: 1em;
      }
      
      .icdes {
        display: block;
        margin: 0 auto;
        font-size: 1em;
      }
      
      .description {
        display: block;
        text-transform: capitalize;
        margin: 0 auto;
        
      }
      
      .icon {
        padding: 0em;
        text-align: center;
      }
      
      .magni {
        height: 20px;
        width: 20px;
      }

      .wrapper {
        display: flex;
        justify-content: space-around;
      }

      .down-footer {
        display: flex;
      }

    .foot-last, #lastupdated {
      align-self: end;
    }

    .ft-temple {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    .image-temp {
      width: 100%;
      max-width: 500px;
    }

    .cards {
      gap: 40px;
      margin: 20px 200px;
    }

    form {
      width: 50%;
      margin: 50px auto;
  }

  .check {
    display: flex;
  }
}