@media only screen and (min-width: 720px) {
    .logo {
    margin-left: 70px;
}

.first-section {
    background-image: url("../images/medium-hero.webp");
}

.rsvBtn {
    margin-top: -250px;
    margin-left: 250px ;
}

.image-temp {
    width: 100%;
    height: auto;
    max-width: 400px;
}
}