@media only screen and (min-width: 720px) {
    .logo {
    margin-left: 70px;
}

.first-section {
    background-image: url("../images/medium-hero.webp");
}

.rsvBtn {
    margin-top: -250px;
    margin-left: 250px ;
}

.image-temp {
    width: 100%;
    height: auto;
    max-width: 500px;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

}

.picture-view { 
    max-width: 500px;
    background-image: url(../images/gym-medium.webp);

}

.picture-view2 { 
    max-width: 500px;
    background-image: url(../images/reception-medium.webp)

}


}