/*----- Body of website ---- */

body{
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    margin:0 auto;
    padding:0;
}

/*----- Top Navigation ------*/

.social-nav {
    display: flex;
    justify-content: space-around;
    background-color: #dc3545;
    color: #f8f9fa;
    font-size: 10px;

}

.icons2 {
    margin-left: 10px;
    margin-top: 5px;
}

/* ---- Hamburger and Nav ------*/

.hamburger {
    border: none;
    font-size: 1.2em;
    font-weight: 700;
    background-color: #212529;
    color: yellow;
}

.logo-nav {
    background-color: #212529;
    color: white;
    font-size: 0.8em;
}

.logo {
    display: flex;
    margin-left: 20px;
    padding: 20px;
}

.logo .head-text {
    flex: 1;
}



.nav-list li a{
    display: flex;
    justify-content: center;
    color: #f8f9fa;
    margin: 20px;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
}

.nav-list li a:hover{
    color: royalblue;
}

.nav-list{
    display: block;
    
}

.nav-list li {
    list-style: none;
}

#navigation {
    display: none;
    background-color: #2e0000;
    padding: 20px;
}

#navigation.open {
    display: block;
}


.hamburger.open span:nth-child(1) {
    display: none
  }
  
  .hamburger.open span:nth-child(2) {
    display: block
  }
  
  .hamburger span:nth-child(1) {
    display: block
  }
  
  .hamburger span:nth-child(2) {
    display: none
  }

  /*----- main area ------*/
.first-section {
    background-image: url("../images/small-hero.webp");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: space-between;
}

.reservationBtn {
    background-color: rgba(37, 6, 6, 0.7);
    color: white;
    padding: 20px;
    font-size: 1em;
}

.reservationBtn li {
    color: yellow;
    font-weight: bold;
    list-style: square;
    line-height: 3;
}

.rsvBtn {
    position: absolute;
    background-color: #250606;
    font-size: 1.3em;
    font-weight: 700;
    color: white;

    margin-top: -41px;
    margin-left: -8px;
    padding: 20px;

}

.rsvDiv {
    display: flex;
    padding: 10px;
    background-color: #571f10;
    justify-content: center;

}

/* ----- Weather ----- */
.forecast {
    display: flex;
    justify-content: center;
    background-color: #2e0000;
    padding: 10px;
}

#forecast {
    text-align: center;
    background-color: #dc3545;
    color: aliceblue;
    padding: 20px;
    margin-bottom: 0px;
}

.forecast div {
    color: white;
    padding: 10px;
    margin-left: 10px;
}

.card {
    display: none;
}

/* --- footer ---*/

footer {
    background-color: #212529;
    color: white;


}

.foot-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    font-weight: bold;
}

.foot-contact a {
    color: red;
    text-decoration: none;
}

.foot-nav li {
    list-style: none;
}

.foot-nav li a{
    text-decoration: none;
    color: red;
    font-weight: bold;

}

.foot-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foot-last {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#lastupdated {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-temp, .temp-h2 {
    display: block;
    margin: 20px auto;
    text-align: center;
    padding: 10px;

}

.temp-h2 {
background-color: #dc3545;
color: white;
}

.image-temp {
    width: 100%;
    height: auto;
    max-width: 400px;
}

.text-area {
    margin-left: 10px;
    line-height: 2;
    padding: 20px;
    font-weight: 400;
}

/*---- Temple Page ----- */

.cards {
    display: grid;
    grid-template-columns: auto;
    margin: 20px 0;
}

.head-title {
    text-align: center;
    background-color: #dc3545;
    color: white;
}

.cards li {
    line-height: 2;
    font-weight: bold;
}

.cards section {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    padding: 10px 20px;
}

.cards img {
    width: 100%;
    height: auto;
    max-width: 400px;
}

.cards p {
    font-weight: 400;
    font-style:inherit;
}

/* ----Reservation----- */


