#directory-section {
    display: block;

}

.card-section div{
    display: flex;
    font-size: 1.2rem;
    line-height: 3;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 30px;
    height: 300px;
    background-color: white;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    margin-bottom: 20px;
}

.card-section:nth-child(2) img{
    width: 40%;
    height: 30%;
}

.list-section div{
    display: flex;
    flex-direction: column;
    line-height: 1.9;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(250, 251, 252);
    font-size: 1.5em;
    margin-bottom: 20px;
}

.list-section div p {
    color: rgb(227, 243, 245);
    font-size: .8em;
    font-weight: normal ;
}

.list-section div h2 {
    color: white;
    font-size: 1em;



}
.list-section div a {
    font-size: .7em;
    color: rgb(228, 224, 8);
}

.list-section div {
    background-color: rgb(2, 12, 59);
}

.card-section p {
    padding-top: 5px;

}

.card-section {
    display: block;
    background-color: white;
    border: none;
}

.switch {
    display: flex;
    justify-content: center;
}

.list-section {
    display: block;
    background-color: white;
    border: none;

}

#card {
    padding: 20px;
    margin-bottom: 15px;
    margin-right: 10px;
    color: white;
    background-color: green;
    border: none;
}

#list {
    padding: 20px;
    margin-bottom: 15px;
    color: white;
    background-color:green;
    border: none;
}