@media only screen and (min-width: 1072px) {
  .logo {
    width: auto;
    height: auto;
    margin-left: 2px;
  }

  nav {
    display: flex;
    justify-content: space-around;
    align-items: start;
    font-size: 1.2em;
  }

  .nav-ul li a {
    font-size: 2em;
  }

  nav .date_header{
    font-size: 0.6em;
    align-self: end;
    position: absolute;
  }

  .hero  .call-to-action {
    display: none;
  }

  .hero .call {
    display: flex;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    justify-content: end;
    align-items: start;
    margin-top: 400px;
    margin-left: 65%;
    padding: 10px 30px;
    background-color: rgb(0, 71, 171);
    border-radius: 15px / 50px;

  }
  

  body main {
    margin: 0 5em 0 5em;
    grid-template-columns: 300px auto auto 300px;
    grid-template-rows: 300px 300px 300px;
    grid-gap: 10px;
    grid-template-areas:
      "e h h s1"
      "w h h s2"
      "n n n s3";
  }

  .event {
    grid-area: e;
  }

  .hero {
    grid-area: h;
  }

  .new-release {
    grid-area: n;
  }

  .weather {
    grid-area: w;
  }

  .spotlight2 {
    grid-area: s2;
  }

  .spotlight1 {
    grid-area: s1;
  }

  .spotlight3 {
    grid-area: s3;
  }

  html body #images-section {
    display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas: none;
  }
}


@media only screen and (min-width: 1072px) and (max-width: 1372px){

  .hero .call {
    margin: 400px auto;
  
  }







}
