@media only screen and (min-width: 720px) {
  .hamburger {
    display: none;
  }

  .logo {
    display: block;
    margin: 1em auto;
    width: AUTO;
    height: auto;
  }

  .social {
    display: flex;
    justify-content: center;
  }

  .nav-ul {
    display: flex;
    list-style: none;
    justify-content: center;
    font-size: 0.7em;
  }

  .nav-ul li {
    border: none;
  }

  .nav-ul li a {
    font-size: 1.3em;
    padding: 0.5em;
  }

  .footer-sec2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .footer-sec {
    flex-direction: row;
    justify-content: center;
  }

  footer {
    font-size: 1em;
  }

  .cloudy::after{
    margin: 0 -70px;
  
  }

  .new-release {
    text-align: center;
    font-size: 1.5em;
  }

  main {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 300px 300px  300px 1fr;
    grid-template-areas:
      "h h h"
      "n n n"
      "s1 s2 s3"
      "e e w";
    column-gap: 10px;
  }

  .hero {
    grid-area: h;
    
  }

  .new-release {
    grid-area: n;
    font-size: 1.3em;
    font-weight: 700;
  }

  .event {
    grid-area: e;
  }

  .spotlight1 {
    grid-area: s1;
  }

  .spotlight2 {
    grid-area: s2;
  }

  .spotlight3 {
    grid-area: s3;
  }

  .weather {
    grid-area: w;
  }
}


