* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    background-color: black;
}

.upper-nav {
    display: flex;
    justify-content: space-around;

}

.logo {
    display: block;
    width: auto;
    height: auto;
    margin: 5px;

}

.hamburger {
    font-size: 3rem;
    border: none;
    background: none;
    color: gold;
    margin: 0.5em;

}

.nav-ul {
    display: none;

}

#nav-bar.open {display: block}

.nav-ul li{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    border-bottom: 5px solid white;
    
}

.nav-ul li a{
    text-decoration: none;
    font-weight: bold;
    font-size: 2em;
    color: #D9B0BC;
    padding: 0.5em;
    
}

.nav-ul li a:hover{
    color: #116466;
    
}

#nav-bar.open {display: block}


.hamburger.open span:nth-child(1) {display: none}
.hamburger.open span:nth-child(2) {display: block}

.hamburger span:nth-child(1) {display: block}
.hamburger span:nth-child(2) {display: none}