* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,h2,h3,h4,h5,a {
  font-family: "Exo", sans-serif;
}

p {
  font-family: "Advent Pro", sans-serif;
}

header {
  background-color: black;
}

.social {
  display: flex;
  justify-content: end;
  align-items: end;
  background-color: #2C3531;

}

.upper-nav {
  display: flex;
  justify-content: space-around;

}

.logo {
  display: block;
  width: 200px;
  height: auto;
  margin: 20px;

}

.hamburger {
  font-size: 3rem;
  border: none;
  background: none;
  color: gold;
  margin: 0.5em;

}

.nav-ul {
  display: none;

}

#nav-bar.open {
  display: block
}

.nav-ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  border-bottom: 5px solid white;

}

.nav-ul li a {
  text-decoration: none;
  font-weight: bold;
  font-size: 0.9em;
  color: #D9B0BC;
  padding: 0.5em;

}

.nav-ul li a:hover {
  color: #116466;

}

/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #0E558B;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  ;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

main {
  display: grid;
  margin: 0.5em;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(7, 300px);
}

main section {
  border: 1px solid gray;
  background-color: aliceblue;
  margin-top: 10px;
  padding: 20px;
}

footer {
  background-color: black;
  color: #D9B0BC;
  font-size: 1em;
  text-align: center;
}

.footer-sec2,
.footer-sec {
  margin: 20px auto;
  line-height: 2;

}

.footer-sec {
  display: flex;
  flex-direction: column;
  padding: 30px;
  border-bottom: 1px solid white;
}

.footer-sec2 {
  display: block;

}

.date_header {
  display: flex ;
  color: white ;
  justify-content: center ;
  padding: 20px ;
  font-size: 0.55em ;
}

.hero {
  background-image: url(../images/hero.webp);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.hero_text {
  display: inline-block;
  padding: 20px;
  background-color: rgba(10, 112, 41, 0.8);
  color: #FFE440;




}




#nav-bar.open {
  display: block
}



.hamburger.open span:nth-child(1) {
  display: none
}

.hamburger.open span:nth-child(2) {
  display: block
}

.hamburger span:nth-child(1) {
  display: block
}

.hamburger span:nth-child(2) {
  display: none
}