* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,h2,h3,h4,h5,a {
  font-family: "Exo", sans-serif;
}

h2 {
  font-size: 1.3em;
}

p {
  font-family: "Advent Pro", sans-serif;
}

header {
  background-color: black;
}

.social {
  display: flex;
  justify-content: end;
  align-items: end;
  background-color: #2C3531;

}

.upper-nav {
  display: flex;
  justify-content: space-around;
}

.logo {
  display: block;
  width: AUTO;
  height: auto;
  margin-top: 20px;
  margin-left: -20px;

}

.hamburger {
  font-size: 3rem;
  border: none;
  background: none;
  color: gold;
  margin: 0.5em;

}

.nav-ul {
  display: none;

}

#nav-bar.open {
  display: block
}

.nav-ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  border-bottom: 5px solid white;

}

.nav-ul li a {
  text-decoration: none;
  font-weight: bold;
  font-size: 0.9em;
  color: #FFE440;
  padding: 1em;

}

.nav-ul li a:hover {
  color: #116466;

}

/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #0E558B;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  ;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

main {
  display: grid;
  margin: 0.5em;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(7, 300px);
}

main section {
  border: 1px solid gray;
  background-color: aliceblue;
  margin-top: 10px;
  padding: 20px;
}

footer {
  background-color: black;
  color: #FFE440;
  font-size: 1.2em;
  text-align: center;
  font-weight: bold;
}

.footer-sec2,
.footer-sec {
  margin: 20px auto;
  line-height: 2;

}

.footer-sec {
  display: flex;
  flex-direction: column;
  padding: 30px;
  border-bottom: 1px solid white;
}

.footer-sec2 {
  display: block;

}

.date_header{
  display: flex ;
  color: white ;
  justify-content: center ;
  padding: 20px ;
  font-size: 0.55em ;
}

#banner {
  display: none;
  color: white;
  font-size: 0.3rem;
  text-align: center;
  background-color: #001f3f;
  padding: 20px;


}

.hero {
  background-image: url(../images/hero.webp);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.event {
  display: flex;
  flex-direction: column;
  font-size: 0.9em;
  color: white;
  font-weight: bold;
  justify-content: end;
  font-size: 0.8em;
  background-image: url(../images/event.webp);
  background-position: top; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.event-header {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgba(10, 112, 41, 0.8);
  margin: 0 -20px -20px;
  padding: 10px 0;
}

.fas.fa-location-arrow {
  font-size: 0.8em;
  color: white;

}

.weather {
  display: flex;
  flex-direction: column;
  font-size: 0.8em;
  align-items: center;
  background-color: #002147;
  color: yellow;
}

.weather h2:nth-child(1), .weather h2:nth-child(5) {
  color: white;
}

.fas{
  font-size: 7em;
  color: #FFE440;

}

.hero_text {
  display: inline-block;
  padding: 20px;
  background-color: rgba(10, 112, 41, 0.8);
  color: #FFE440;

}

.spotlight1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-weight: bold;
  align-items: center;
}



.spotlight2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;;
  font-weight: bold;
  align-items: center;
  
}

.spotlight1 img, .spotlight2 img, .spotlight3 img {
  width: 75%;
  height: 30%;
}

.spotlight2 h2, .spotlight1 h2, .spotlight3 h2 {
  background-color: rgb(2, 2, 70);
  color: white;
  padding: 10px

}

.spotlight1 a:hover, .spotlight2 a:hover, .spotlight3 a:hover {
  color: rgb(3, 56, 3);
}

.spotlight3 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-weight: bold;
  align-items: center;

}

.new-release {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  text-align: left;
  line-height: 1.2;
  font-size: 0.8em;
  color: black;
}


.event-header:hover, 
.spotlight1-header:hover, 
.spotlight2-header:hover,
.spotlight3-header:hover {
  color: yellow;
}


.new-release h2 {
  margin-bottom: 20px;
  padding: 0 100px;;
  text-align: center;
  color: WHITE;
  display: block;
  background-color: rgba(10, 112, 41, 50);
}

.call-to-action {
  display: flex;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  justify-content: end;
  margin-top: 100px;
  margin-left: 55%;
  padding: 10px 30px;
  background-color: rgb(0, 71, 171);
  border-radius: 15px / 50px;
}

.call {
  display:none;
}
.logo-text {
  font-size: 1.2em;
  color:  #FFE440;
  align-self: center;
  margin-left: 7px;
}

.pic-text {
  display: flex;
}

.logo-text span:nth-child(2) {
  color: white;
  font-size: 0.7em;
  display: block;
  margin-left: 60px;
}

.call-to-action:hover, .call:hover {
  color: yellow;
}


#nav-bar.open {
  display: block
}

/*------------- Discover --------------*/


body #images-section {
  display: flex;
  flex-direction: column;
}

#images-section section img {
  display: block;
  margin: 0 auto 15px;
  width: 100%;
  height: 80%;
}

body #images-section section h2 {
  text-align: center;
  font-size: 0.8em;
  background-color: rgba(10, 112, 41, 1);
  padding: 10px;
  color: white;

}

.discovery-title {
  text-align: center;
  padding: 20px;
  font-size: 1.5em;
}



.hamburger.open span:nth-child(1) {
  display: none
}

.hamburger.open span:nth-child(2) {
  display: block
}

.hamburger span:nth-child(1) {
  display: block
}

.hamburger span:nth-child(2) {
  display: none
}

/* Join Page*/

form fieldset {
  margin: 0.5rem 0;
  border: none;
  border-radius: 10px;
  padding: .5rem 2%;
}

form legend{
  padding: 4px 20%;
  overflow: hidden;
  background-color: black;
  font-size: 1.3rem;
  color: gold;
}

form label.top {
  display: block;
  padding-top: 1rem;
  color: white;
  font-size: 1rem;
}

form label.top input, form label.top textarea {
  -webkit-appearance: none;
  display: block;
  font-size: 1rem;
  border: 1px solid black;
  border-radius: 4px;
  padding: .75rem;
  width: 100%;
  max-width: 50rem;
  background-color: white

}

form label.sbs {
  display: block;
  font-size: 1.2rem;
  color: white;
}

form label.sbs input {
  margin-right: 9px;

}

form input.submitBtn {
  border: none;
  background-color: rgba(10, 112, 41, 2);
  color: white;
  border-radius: 1rem;
  padding: .75rem 1.5rem;
  margin: 2rem auto;
  width: 96%;
  max-width: 20rem;
  font-size: 1.5rem;
}

form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  background-color: #001f3f;
}



.main-join {
    display: flex;
    margin-top: 29px;
}


.membership {
  display: none;

}