* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,h2,h3,h4,h5,a {
  font-family: "Exo", sans-serif;
}

p {
  font-family: "Advent Pro", sans-serif;
}

header {
  background-color: black;
}

.social {
  display: flex;
  justify-content: end;
  align-items: end;
  background-color: #2C3531;

}

.upper-nav {
  display: flex;
  justify-content: space-around;
}

.logo {
  display: block;
  width: AUTO;
  height: auto;
  margin-top: 20px;
  margin-left: -20px;

}

.hamburger {
  font-size: 3rem;
  border: none;
  background: none;
  color: gold;
  margin: 0.5em;

}

.nav-ul {
  display: none;

}

#nav-bar.open {
  display: block
}

.nav-ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  border-bottom: 5px solid white;

}

.nav-ul li a {
  text-decoration: none;
  font-weight: bold;
  font-size: 0.9em;
  color: #FFE440;
  padding: 1em;

}

.nav-ul li a:hover {
  color: #116466;

}

/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #0E558B;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  ;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

main {
  display: grid;
  margin: 0.5em;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(7, 300px);
}

main section {
  border: 1px solid gray;
  background-color: aliceblue;
  margin-top: 10px;
  padding: 20px;
}

footer {
  background-color: black;
  color: #FFE440;
  font-size: 1em;
  text-align: center;
}

.footer-sec2,
.footer-sec {
  margin: 20px auto;
  line-height: 2;

}

.footer-sec {
  display: flex;
  flex-direction: column;
  padding: 30px;
  border-bottom: 1px solid white;
}

.footer-sec2 {
  display: block;

}

.date_header {
  display: flex ;
  color: white ;
  justify-content: center ;
  padding: 20px ;
  font-size: 0.55em ;
}

.hero {
  background-image: url(../images/hero.webp);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.event {
  display: flex;
  flex-direction: column;
  font-size: 0.9em;
  color: white;
  font-weight: bold;
  justify-content: end;
  font-size: 0.8em;
  background-image: url(../images/event.jpg);
  background-position: top; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.event-header {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgba(10, 112, 41, 0.8);
  margin: 0 -20px -20px;
  padding: 10px 0;
}

.fas.fa-location-arrow {
  font-size: 0.8em;
  color: white;

}

.weather {
  display: flex;
  font-size: 0.9em;
  flex-direction: column;
  align-items: center;
  color: white;
  background-color: #002147;
}

.cloudy::after{
  display: flex;
  content: '';
  margin: 0 -150px;
  border: 2px solid white;
}

.fas{
  font-size: 7em;
  color: #FFE440;

}

.hero_text {
  display: inline-block;
  padding: 20px;
  background-color: rgba(10, 112, 41, 0.8);
  color: #FFE440;

}
.spotlight1 {
  background-color: #002147;
  color: white;
}

.spotlight1 {
  display: flex;
  flex-direction: column;
  font-size: 0.9em;
  color: white;
  font-weight: bold;
  justify-content: end;
  font-size: 0.8em;
  background-image: url(../images/stocks.jpg);
  background-position: top; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.spotlight1-header {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgba(10, 112, 41, 0.8);
  margin: 0 -20px -20px;
  padding: 10px 0;
}

.spotlight2 {
  display: flex;
  flex-direction: column;
  font-size: 0.9em;
  color: white;
  font-weight: bold;
  justify-content: end;
  font-size: 0.8em;
  background-image: url(../images/vacation3.jpg);
  background-position: top; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.spotlight2-header {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgba(10, 112, 41, 0.8);
  margin: 0 -20px -20px;
  padding: 10px 0;
}
.new-release {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  text-align: left;
  line-height: 1.2;
  font-size: 1em;
  color: black;
}


.event-header:hover, 
.spotlight1-header:hover, 
.spotlight2-header:hover {
  color: yellow;

}

.spotlight2 {
  background-color: #002147;

}

.spotlight3 {
  background-color: #002147;
}

.new-release h2 {
  margin-bottom: 20px;
  padding: 0 100px;;
  text-align: center;
  color: WHITE;
  display: block;
  background-color: rgba(10, 112, 41, 50);
}

.call-to-action {
  display: flex;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  justify-content: end;
  margin-top: 100px;
  margin-left: 55%;
  padding: 10px 30px;
  background-color: rgb(0, 71, 171);
  border-radius: 15px / 50px;
}

.call {
  display:none;
}
.logo-text {
  font-size: 1.2em;
  color:  #FFE440;
  align-self: center;
  margin-left: 7px;
}

.pic-text {
  display: flex;
}

.logo-text span:nth-child(2) {
  color: white;
  font-size: 0.7em;
  display: block;
  margin-left: 60px;
}

.call-to-action:hover, .call:hover {
  color: yellow;
}


#nav-bar.open {
  display: block
}



.hamburger.open span:nth-child(1) {
  display: none
}

.hamburger.open span:nth-child(2) {
  display: block
}

.hamburger span:nth-child(1) {
  display: block
}

.hamburger span:nth-child(2) {
  display: none
}