body {
    background-color: black;
    
}

#thanks {
    height: 100%;
    width: 100%;
}

.thanks_header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    padding: 50px;
    background-color: brown;
}