* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    max-width: 100%;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
}

header,
footer {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #f4f7f6;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.9);
    color: #116466;
    font-style:oblique;
}

h2 {
    font-size: 1.1em;
    padding: 0.5em;
    color: #116466;

}

nav ul {
	list-style-type: none;
	overflow: hidden;
    
}

nav ul li{
    border-bottom: 2px solid white;
}

nav ul li a{
    display: block;
    color: rgb(228, 226, 226);
    text-align: center;
    padding: 0.75rem;
    text-decoration: none;
    font-size: 1.3em;
    background-color: #116466;
}

a:hover{
    color: #f1a563;
    background-color: #2C3531;
}

main {
    line-height: 1.6;
    font-size: 1.2em;
    background-color: #f6fdfa;
    padding: 0 2em 2em 2em;
    margin: 10px auto;

}

.logo-image, .first-p-image {
    display: flex;
    margin: 0 auto;
    max-width: 400px;
    width: 100%;
    height: auto;
    padding: 0.7em 0 0.7em 0;
}

.second-persona {

    padding-top: 1em;

}

.name {
    text-align: center;

}

.persona-list li {
    list-style: none;

}

.home-link {
    color: #f1a563;
    background-color: #2c3531;
}

.home-link:hover {
    color: white;
}

footer {
    text-align: center;
    font-size: 1.1em;
    font-weight: bold;

}

.item1,
.item2,
.item3,
.item4,
.item5,
.item6 {
    padding: 20px;
    width: 200px;
}

.item1 {
background-color:#2C3531;
}

.item2 {
    background-color:#116466;
    }

.item3 {
    background-color:#D9B0BC;
    }

.item4 {
        background-color:#FFCB9A;
}

.item5 {
    background-color:#D1E8E2;
}
.item6 {
    background-color:white;
    border: 1px solid black;
}

.color-scheme {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.section-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.sample-header {
    margin: auto 300px;
    padding: 100px 100px;
    border: 1px solid black;

}

.sample-sec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 1.5em;

}





@media only screen and (min-width: 900px) {
    nav ul li{
        border-right: 5px solid white;
    }
    .color-scheme {
        display: flex;
    
    }

    body  {max-width: 70em;}
header,
footer {
    padding: 20px;
    
}
    nav ul { display: flex; }
	nav ul li { flex: 1 1 auto; }


}